.Article {
  text-align: left;
}

.Article-title {
  font-size: 1.5em;
  color: #333;
}

.Article-meta {
  font-size: 0.85em;
  color: #666;
  margin-bottom: 10px;
}

.Article-description {
  font-size: 1em;
  color: #444;
}

.Article-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
